# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# SQLite database file
reminders.db

# macOS system files
.DS_Store

# Virtual environments
venv/
env/

# Logs and temp files
*.log
*.tmp
